/* Global */
.vheight-100 {
  min-height: 100vh;
}

/* Styles related to NavBar */
.navbar-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.below-nav {
  padding-top: 5rem;
}

/* Icons */
.icon-size {
  font-size: 1.5rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*
 * NOTE: HTML collapses multiple withespaces into one, so "Hello      world!" becomes "Hello world!".
 * If you want to keep them use white-space: pre-wrap;
 */
.keep-white-space {
  white-space: pre-wrap;
}

/* Adding padding to form */
.form-padding {
  padding: 2rem;
}

.keep-white-space {
  white-space: pre-wrap;
}

/* Specifies the graphical appearence of the toast*/
.toast {
  position: absolute;
  bottom: 15px;
  left: 15px;
}